.DS_Store
*.pyc
Output/*
*.swp
.idea/
.vscode/
.ipynb_checkpoints/
data/Modelo*
data/Te_invertido/Tassara/
data/Te_invertido/Perez-Gussinye/
data/Te_invertido/Interpolados/
data/earthquakes/CSN*
data/earthquakes/USGS*
data/earthquakes/earthquakes_bkp/
data2/
datos_Q/
vtk_files/
vtk_files_bkp/
Teq_vs_Tef/
blender_files/
